doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Demo On!
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    
    link(href="./assets/css/main.css", rel="stylesheet")
    
    script(src='http://code.jquery.com/jquery-1.11.3.min.js')
  body
    .main-container
      h1 Jade is awesome!
      .button-container
        h2 Button clicked: 
          span 
        button.btn-on Click Me!
      
    script(src='./assets/js/main.js')
  
